<MudTooltip Text="@TooltipText"
            RootClass="@(string.Empty)"
            Placement="Placement.Left"
            Arrow="true">
    <div class="d-flex align-items-center gap-1" @onclick:stopPropagation="true" @ontouchstart:stopPropagation="true">
        <MudIcon Icon="@Icon" Style="@($"color: {Color};")" />
        <span class="text-nowrap">@($"{Value:F1}") kWh</span>
    </div>
</MudTooltip>
@code {
    [Parameter] public string TooltipText { get; set; } = string.Empty;
    [Parameter] public string Color { get; set; } = string.Empty;
    [Parameter] public string Icon { get; set; } = string.Empty;
    [Parameter] public decimal Value { get; set; }
}