@page "/ChargePrice/detail/{chargeCostId:int}"
@page "/ChargePrice/new"
@using MudExtensions
@using TeslaSolarCharger.Shared.Dtos.ChargingCost
@using TeslaSolarCharger.Shared.Contracts
@using TeslaSolarCharger.Shared.Dtos.ChargingCost.CostConfigurations
@using Newtonsoft.Json
@using TeslaSolarCharger.Client.Services.Contracts
@using TeslaSolarCharger.Client.Wrapper
@using TeslaSolarCharger.Shared
@using TeslaSolarCharger.Shared.Enums
@using TeslaSolarCharger.Shared.Localization.Contracts
@using TeslaSolarCharger.Shared.Localization.Registries
@using TeslaSolarCharger.Shared.Localization.Registries.Pages
@inject NavigationManager NavigationManager
@inject IDateTimeProvider DateTimeProvider
@inject ISnackbar Snackbar
@inject IChargePriceService ChargePriceService
@inject ITextLocalizationService TextLocalizer

<button class="btn btn-primary" @onclick="NavigateToList">@T("All Charge costs")</button>
<h1>@T("ChargePriceDetail")</h1>

@if (ChargePrice == null)
{
    <LoadingSpinnerComponent />
}
else
{
    <EditFormComponent T="DtoChargePrice"
                       WrappedElement="ChargePrice"
                       OnValidSubmit="SaveChargePrice"
                       SubmittingParameter="SubmitIsLoading">
        <GenericInput For="() => ChargePrice.Item.ValidSince"></GenericInput>
        <GenericInput For="() => ChargePrice.Item.SolarPrice"></GenericInput>
        <GenericInput For="() => ChargePrice.Item.GridPrice"></GenericInput>
        @foreach (var fixedPrice in FixedPrices)
        {
            <div class="row mt-3">
                <div class="col-auto">
                    <FixedPriceComponent FixedPrice="fixedPrice"></FixedPriceComponent>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <InputComponent ValueId="price"
                                    LabelText='@T("Price")'
                                    UnitText=""
                                    HelpText="">
                        <InputFragment>
                            <InputNumber id="price" @bind-Value="fixedPrice.Value" class="form-control" placeholder=" " />
                        </InputFragment>
                    </InputComponent>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger m-2" @onclick="_ => DeleteFixedPrice(fixedPrice)"><span class="oi oi-trash" aria-hidden="true"></span></button>
                </div>
            </div>

            <hr />
        }
        <RightAlignedButtonComponent StartIcon="@Icons.Material.Filled.Add"
                                     ButtonText="@T("Add time based price")"
                                     OnButtonClicked="AddFixedPrice"></RightAlignedButtonComponent>

        <GenericInput T="bool"
                      For="() => ChargePrice.Item.AddSpotPriceToGridPrice"
                      OnValueChanged="@StateHasChanged"></GenericInput>

        @if (ChargePrice.Item.AddSpotPriceToGridPrice)
        {
            <div class="p-2">
                <MudSelectExtended T="SpotPriceRegion?"
                                   For="() => ChargePrice.Item.SpotPriceRegion"
                                   @bind-Value="ChargePrice.Item.SpotPriceRegion"
                                   Margin="Margin.Dense"
                                   Label="@T("Spot Price Region")"
                                   Variant="Variant.Outlined">
                    <MudSelectItemExtended T="SpotPriceRegion?" Value="@(SpotPriceRegion.DE_LU)" Text="@SpotPriceRegion.DE_LU.ToFriendlyName()" />
                    <MudSelectItemExtended T="SpotPriceRegion?" Value="@(SpotPriceRegion.AT)" Text="@SpotPriceRegion.AT.ToFriendlyName()" />
                    <MudSelectItemExtended T="SpotPriceRegion?" Value="@(SpotPriceRegion.CH)" Text="@SpotPriceRegion.CH.ToFriendlyName()" />
                </MudSelectExtended>
            </div>
            <GenericInput For="() => ChargePrice.Item.SpotPriceSurcharge"></GenericInput>
        }
        
        @if(ChargePriceUpdateProgress != default && ChargePriceUpdateProgress.Value != null && ChargePriceUpdateProgress.MaxValue != null)
        {
            <div class="mb-3">
                <MudProgressLinear Value="ChargePriceUpdateProgress.Value.Value"
                                   Max="ChargePriceUpdateProgress.MaxValue.Value"
                                   Size="Size.Large"
                                   Striped="true"
                                   Color="Color.Primary"/>
            </div>
            
        }
        else
        {
            <MudPaper Class="d-flex justify-end flex-grow-1 gap-4 pr-2 mb-2" Elevation="0">
                <MudAlert Severity="Severity.Info">
                    @T("Updating charge prices can take a significant amount of time as the prices of all previous charges are updated")
                </MudAlert>
            </MudPaper>
        }
    </EditFormComponent>

    
}


@code {
    [Parameter]
    public int? ChargeCostId { get; set; }

    private EditableItem<DtoChargePrice>? ChargePrice { get; set; }

    private bool SubmitIsLoading { get; set; }

    private List<FixedPrice> FixedPrices { get; set; } = new();

    private DtoProgress? ChargePriceUpdateProgress { get; set; }

    private string T(string key) =>
        TextLocalizer.Get<ChargeCostDetailPageLocalizationRegistry>(key, typeof(SharedComponentLocalizationRegistry))
        ?? key;

    protected override async Task OnInitializedAsync()
    {
        await RefreshChargePriceProgress();
        if (ChargeCostId != null)
        {
            var chargePrice = await ChargePriceService.GetDtoChargePrice(ChargeCostId.Value);
            if (chargePrice == default)
            {
                ChargePrice = null;
                return;
            }
            ChargePrice = new(chargePrice);
            FixedPrices = !string.IsNullOrEmpty(ChargePrice.Item.EnergyProviderConfiguration) ? JsonConvert.DeserializeObject<List<FixedPrice>>(ChargePrice.Item.EnergyProviderConfiguration) ?? new() : new();
        }
        else
        {
            ChargePrice = new(new DtoChargePrice()
            {
                ValidSince = DateTimeProvider.Now(),
                GridPrice = new decimal(0.285),
                SolarPrice = new decimal(0.12),
            });
        }
    }

    void NavigateToList()
    {
        NavigationManager.NavigateTo("/ChargePrices");
    }

    private async Task RefreshChargePriceProgress()
    {
        ChargePriceUpdateProgress = await ChargePriceService.GetChargePriceUpdateProgress();
        await InvokeAsync(StateHasChanged);
    }

    private async Task SaveChargePrice()
    {
        if (ChargePrice == null)
        {
            Snackbar.Add(T("Charge price is null and can not be saved. Try reloading the page."), Severity.Error);
            return;
        }
        SubmitIsLoading = true;
        var cancellationTokenSource = new CancellationTokenSource();
        var cancellationToken = cancellationTokenSource.Token;
        _ = RefreshChargePriceUpdateProgressForever(cancellationToken);
        try
        {
            ChargePrice.Item.EnergyProviderConfiguration = JsonConvert.SerializeObject(FixedPrices);
            await ChargePriceService.UpdateChargePrice(ChargePrice.Item);
        }
        finally
        {
            SubmitIsLoading = false;
            await cancellationTokenSource.CancelAsync();
        }

        // ReSharper disable once MethodSupportsCancellation
        await Task.Delay(1500);
        NavigateToList();
    }

    private async Task RefreshChargePriceUpdateProgressForever(CancellationToken cancellationToken)
    {
        while (!cancellationToken.IsCancellationRequested)
        {
            await RefreshChargePriceProgress();
            await InvokeAsync(StateHasChanged);
            await Task.Delay(TimeSpan.FromSeconds(1), cancellationToken);
        }
        ChargePriceUpdateProgress = null;
    }

    private void AddFixedPrice()
    {
        FixedPrices?.Add(new FixedPrice()
        {
            ValidOnDays = new List<DayOfWeek>(),
        });
    }

    private void DeleteFixedPrice(FixedPrice fixedPrice)
    {
        FixedPrices?.Remove(fixedPrice);
    }

}
