@page "/ChargePrice/detail/{chargeCostId:int}"
@page "/ChargePrice/new"
@using TeslaSolarCharger.Shared.Dtos.ChargingCost
@using System.Globalization
@using TeslaSolarCharger.Shared.Contracts
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IDateTimeProvider DateTimeProvider

<button class="btn btn-primary" @onclick="NavigateToList">All Charge costs</button>
<h3>ChargePriceDetail</h3>

@if (ChargePrice == null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="ChargePrice" OnValidSubmit="@SaveChargePrice">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-12 row">
            <label class="col-5 col-sm-4 col-md-3 col-lg-2">Id</label>
            <span class="col-6 col-sm-6 col-md-3 col-lg-2"> @ChargePrice.Id </span>
        </div>
        <div class="form-group">
            <label for="date">Valid Since</label>
            <input class="form-control" value="@ChargePrice.ValidSince.ToString("yyyy-MM-dd")" type="date" id="date" name="date"
                   @onchange="@(e => ChargePrice.ValidSince = DateTime.Parse(e.Value?.ToString() ?? DateTime.MaxValue.ToString(CultureInfo.CurrentCulture)))">
        </div>
        <div class="form-group">
            <label for="solarPrice">Solar Price</label>
            <input type="number" class="form-control" @bind="@ChargePrice.SolarPrice" placeholder="@(((decimal)0).ToString("0.0000"))" id="solarPrice" name="solarPrice" step=".0001">
        </div>
        <div class="form-group">
            <label for="gridPrice">Grid Price</label>
            <input type="number" class="form-control" @bind="@ChargePrice.GridPrice" placeholder="@(((decimal)0).ToString("0.0000"))" id="gridPrice" name="gridPrice" step=".0001">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind="@ChargePrice.AddSpotPriceToGridPrice" id="useSpotPrice">
            <label class="form-check-label" for="useSpotPrice">
                Use Spot Prices
            </label>
            <div>
                <small id="UseSpotPriceHelp" class="form-text text-muted">Enable this if you are using dynamic prices based on EPEX Spot DE (e.g. Tibber or aWATTar)</small>
            </div>
        </div>
        @if (ChargePrice.AddSpotPriceToGridPrice)
        {
            <div class="form-group">
                <label for="spotPriceCorrectionFactor">Additional costs to spotprice (%)</label>
                <input type="number" class="form-control" @bind="@ChargePrice.SpotPriceSurcharge" placeholder="@(((decimal)1).ToString("0.0000"))" id="spotPriceCorrectionFactor" name="spotPriceCorrectionFactor" step=".01">
            </div>
            <div>
                <small id="spotPriceCorrectionFactorHelp" class="form-text text-muted">Surcharge to spot price by your electricity provider (e.g. aWATTar 3%)</small>
            </div>
        }
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}


@code {
    [Parameter]
    public int? ChargeCostId { get; set; }

    private DtoChargePrice? ChargePrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ChargeCostId != null)
        {
            ChargePrice = await HttpClient.GetFromJsonAsync<DtoChargePrice>($"api/ChargingCost/GetChargePriceById?id={ChargeCostId}").ConfigureAwait(false);
        }
        else
        {
            ChargePrice = new DtoChargePrice()
            {
                ValidSince = DateTimeProvider.Now(),
            };
        }
    }

    void NavigateToList()
    {
        NavigationManager.NavigateTo("/ChargePrices");
    }

    private async Task SaveChargePrice()
    {
        await HttpClient.PostAsJsonAsync("api/ChargingCost/UpdateChargePrice", ChargePrice).ConfigureAwait(false);
        NavigateToList();
    }
}
