@page "/cloudconnection"
@using TeslaSolarCharger.Shared.Localization
@using System.Globalization
@using TeslaSolarCharger.Client.Helper.Contracts
@using TeslaSolarCharger.Client.Services.Contracts
@using TeslaSolarCharger.Shared.Dtos
@using TeslaSolarCharger.Shared.Enums
@using TeslaSolarCharger.Shared.Localization.Contracts
@using TeslaSolarCharger.Shared.Localization.Registries
@using TeslaSolarCharger.Shared.Localization.Registries.Pages

@inject IHttpClientHelper HttpClientHelper
@inject ICloudConnectionCheckService CloudConnectionCheckService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject ITextLocalizationService TextLocalizer

<h1>@T(TranslationKeys.SharedCloudConnectionTitle)</h1>

<h3>@T(TranslationKeys.Solar4carBackendConnection)</h3>
@if (BackendTokenState == default)
{
    <PlaceholderComponent></PlaceholderComponent>
}
else
{
    <MudAlert Severity="@BackendTokenAlertSeverity"
    NoIcon="true"
    ShowCloseIcon="false">
        <div>@BackendTokenStateText</div>
    </MudAlert>
}

@if (BackendTokenState == TokenState.UpToDate)
{
    @if (LoggedInUserName == default)
    {
        <div>@T(TranslationKeys.LoggedInAsUnknownUser)</div>
    }
    else
    {
        <div>@T(TranslationKeys.LoggedInAs) @LoggedInUserName</div>
    }
    <RightAlignedButtonComponent OnButtonClicked="FakeLogout"
    ButtonText='@T(TranslationKeys.Changeuser)' />
}
else if(BackendTokenState != default)
{
    <GenericInput For="() => _backendLogin.EMail"></GenericInput>
    <GenericInput For="() => _backendLogin.Password"
    IsPassword="true"></GenericInput>
    @if (LoginErrorMessage != default)
    {
        <div class="validation-message">
            @T(TranslationKeys.LoginFailed) @LoginErrorMessage
        </div>
    }
    <RightAlignedButtonComponent OnButtonClicked="Submit"
    ButtonText='@T(TranslationKeys.Login)'
    IsLoading="@_backendLoginIsLoading">
    </RightAlignedButtonComponent>
    <div class="d-flex">
        <MudSpacer></MudSpacer><MudLink Href="https://solar4car.com/Account/Register?returnUrl=https%3A%2F%2Fsolar4car.com%2Fsubscriptions" Target="_blank">@T(TranslationKeys.Register)</MudLink>
    </div>

}

<h3>@T(TranslationKeys.TeslaFleetApiConnection)</h3>
@if (FleetApiTokenState == default)
{
    <PlaceholderComponent></PlaceholderComponent>
}
else
{
    <MudAlert Severity="@FleetApiTokenAlertSeverity"
    NoIcon="true"
    ShowCloseIcon="false">
        <div>@FleetApiTokenStateText</div>
    </MudAlert>
    <div class="mt-2">
        <RightAlignedButtonComponent OnButtonClicked="GenerateFleetApiToken"
        ButtonText='@T(TranslationKeys.RequestToken)'
        IsLoading="@_fleetApiLoginIsLoading"
        IsDisabled="@(BackendTokenState != TokenState.UpToDate)">
        </RightAlignedButtonComponent>
    </div>
}


@code {
    private readonly DtoBackendLogin _backendLogin = new DtoBackendLogin();

    private bool _backendLoginIsLoading;
    private bool _fleetApiLoginIsLoading;

    private string? LoginErrorMessage { get; set; }

    private TokenState? BackendTokenState { get; set; }
    private TokenState? FleetApiTokenState { get; set; }
    private string? LoggedInUserName { get; set; }

    private Severity BackendTokenAlertSeverity => BackendTokenState == TokenState.UpToDate ? Severity.Success : Severity.Error;
    private Severity FleetApiTokenAlertSeverity => FleetApiTokenState == TokenState.UpToDate ? Severity.Success : Severity.Error;

    private string BackendTokenStateText
    {
        get
        {
            switch (BackendTokenState)
            {
                case TokenState.MissingPrecondition:
                    return T(TranslationKeys.CouldNotCheckTokenStateIs);
                case TokenState.NotAvailable:
                    return T(TranslationKeys.NoTokenFoundLoginBelowTo);
                case TokenState.Unauthorized:
                    return T(TranslationKeys.YourBackendTokenIsUnauthorizedReasons);
                case TokenState.MissingScopes:
                    return T(TranslationKeys.YourBackendTokenHasMissingScopes);
                case TokenState.Expired:
                    return T(TranslationKeys.YourBackendTokenIsExpiredWhich);
                case TokenState.UpToDate:
                    return T(TranslationKeys.YouAreConnectedToTheBackend);
                case null:
                    return T(TranslationKeys.CouldNotCheckTokenStateIs);
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
    }

    private string FleetApiTokenStateText
    {
        get
        {
            switch (FleetApiTokenState)
            {
                case TokenState.MissingPrecondition:
                    return T(TranslationKeys.ALoginToSolar4carComIs);
                case TokenState.NotAvailable:
                    return T(TranslationKeys.YouDidNotRequestAFleet);
                case TokenState.Unauthorized:
                    return T(TranslationKeys.YourTokenIsUnauthorizedRequestA);
                case TokenState.MissingScopes:
                    return T(TranslationKeys.YourTokenHasMissingScopesRequest);
                case TokenState.Expired:
                    return T(TranslationKeys.YourFleetApiTokenIsExpired);
                case TokenState.UpToDate:
                    return T(TranslationKeys.EverythingIsFineIfYouWant);
                case null:
                    return T(TranslationKeys.CouldNotCheckTokenStateIs);
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshData();

    }

    private async Task RefreshData()
    {
        BackendTokenState = await CloudConnectionCheckService.GetBackendTokenState(false);
        LoggedInUserName = await CloudConnectionCheckService.GetBackendTokenUserName();
        FleetApiTokenState = await CloudConnectionCheckService.GetFleetApiTokenState(false);
    }

    private async Task Submit()
    {
        _backendLoginIsLoading = true;
        var result = await HttpClientHelper.SendPostRequestAsync("api/BackendApi/LoginToBackend", _backendLogin);
        if (result.HasError)
        {
            LoginErrorMessage = result.ErrorMessage;
            Snackbar.Add(T(TranslationKeys.LoginDidNotSucceed), Severity.Error);
        }
        else
        {
            LoginErrorMessage = default;
            Snackbar.Add(T(TranslationKeys.LoginSucceeded), Severity.Success);
        }

        await RefreshData();
        _backendLoginIsLoading = false;
        StateHasChanged();
    }

    private void FakeLogout()
    {
        BackendTokenState = TokenState.NotAvailable;
        LoggedInUserName = default;
        StateHasChanged();
    }

    private async Task GenerateFleetApiToken()
    {
        _fleetApiLoginIsLoading = true;
        var locale = CultureInfo.CurrentCulture.ToString();
        if (BackendTokenState != TokenState.UpToDate)
        {
            Snackbar.Add(T(TranslationKeys.YouNeedToBeLoggedIn), Severity.Error);
            _fleetApiLoginIsLoading = false;
            return;
        }
        var baseUrl = NavigationManager.BaseUri;
        var url = await CloudConnectionCheckService.GetTeslaLoginUrl(locale, baseUrl + "cloudconnection");
        if (string.IsNullOrEmpty(url))
        {
            Snackbar.Add(T(TranslationKeys.CouldNotGenerateTeslaLoginUrl), Severity.Error);
            _fleetApiLoginIsLoading = false;
            return;
        }
        NavigationManager.NavigateTo(url);
        _fleetApiLoginIsLoading = false;
    }

    private string T(string key) =>
        TextLocalizer.Get<CloudConnectionPageLocalizationRegistry>(key, typeof(SharedComponentLocalizationRegistry))
        ?? key;
}
